body {
  background-color: #2C5F2D;
}

.content{
  display: flex;
  justify-content: center;
}

.content-box{
  background-color: #97BC62;
  margin-top: 10%;
}

.content-box h1 {
  margin: 5%;
  text-align: center;
}

.submit-button {
  font-size: 200%;
  width: 100%
}