

.date-selector input{
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 200%;
  text-align: center;
  margin: 5%
}

.date-selector select{
  font-size: 200%;
}

.date-selector button {
  font-size: 200%;
}